@model VelazquezYahir.Models.Domain.Usuario

<div class="container-fluid">
    <div class="offset-12">
        <div class="card border">
            <div class="card-header bg-dark">
                <h1 class="text-white"><strong>Editar usuario</strong></h1>
            </div>
            <div class="card-body">
                <form asp-action="Editar" asp-controller="User" method="post" id="editarUsuarioForm">
                    <input asp-for="PkUsuario" hidden />
                    <div class="form-group">
                        <label asp-for="Nombre" class="control-label"></label>
                        <input asp-for="Nombre" class="form-control" placeholder="Ingresa el nombre" required />
                        <span asp-validation-for="Nombre" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="UserName" class="control-label"></label>
                        <input asp-for="UserName" class="form-control" placeholder="Ingresa el usuario" required />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" type="password" class="form-control" placeholder="Ingresa la contraseña" required />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Role</label>
                        <select asp-for="FkRole" class="form-control" required>
                            <option value="">Selecciona un rol</option>
                            <option value="1">Admin</option>
                            <option value="2">Usuario</option>
                        </select>
                        <span asp-validation-for="FkRole" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-3">
                        <button type="submit" class="btn btn-secondary d-block mx-auto"><i class="bi bi-person-fill"></i> Guardar</button>
                    </div>
                </form>
                <a asp-controller="User" asp-action="Index" class="btn btn-outline-secondary">Volver</a>
            </div>
        </div>
    </div>
</div>
