@model VelazquezYahir.Models.Domain.Usuario

@{
    ViewData["Title"] = "Register";
}

<h2>Register</h2>

<form asp-action="Register" method="post">
    <div class="form-group">
        <label asp-for="Nombre"></label>
        <input type="text" class="form-control" asp-for="Nombre" />
    </div>
    <div class="form-group">
        <label asp-for="UserName"></label>
        <input type="text" class="form-control" asp-for="UserName" />
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input type="password" class="form-control" asp-for="Password" />
    </div>
    <div class="form-group">
        <label asp-for="FkRole"></label>
        <select class="form-control" asp-for="FkRole" asp-items="ViewBag.Roles"></select>
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
</form>
